*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PP mori';
    color: white;
}
body,html{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: #000;
}


nav{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

img{
    height: 60px;
}

.nav_2{
    display: flex;
    gap: 25px;
    text-transform: uppercase;
}

.nav_3{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 20px;
}

nav h4{
    text-transform: uppercase;
}

nav button{
    background-color:white;
    color: black;
    padding: 10px 25px;
    border: none;
    font-weight: 500;
    font-size: 14px;
}

.main h1{
    font-size: 130px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 165px;
    z-index: 1;
    position: relative;
}

.main h1 span{
    background-color: brown;
    color: white;
    font-size: 25px;
    border-radius: 40px;
    padding: 20px 40px;
    margin-inline: 30px;
    line-height: 30px !important;
}

.main h1:nth-child(2){
    /* color: red; */
    margin-top: 60px;
}
 

#img1{
    height: 230px;
    position: absolute;
    top: 19%;
    border-radius: 20px;
    left: 2%;
}

#img2{
    height: 230px;
    position: absolute;
    bottom: 14%;
    border-radius: 20px;
    right: 2%;
}

#img3{
    height: 230px;
    width: 300px;
    position: absolute;
    bottom: 10%;
    border-radius: 20px;
    left: 18%;
    
}

#img4{
    height: 230px;
    width: 500px;
    position: absolute;
    bottom: 50%;
    border-radius: 20px;
    left: 48%;
    
}